body{
    background-color: black;
    font-family: "Heebo", sans-serif;
}

h2 , h3 , h5 {
    margin: 0;
}
.container{
    padding: 24px;
    margin-left: 500px;
    height: 39rem;
    width: 28%;
    background-color: #1F1F1F;
    border-radius: 10px;
}

.container img{
    width: 120px;
    border-radius: 50%;
    margin-left: 154px;
}

.container h2{
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.container h3{
    text-align: center;
    color: yellowgreen;
    font-weight: 400;
}

.container h5{
    text-align: center;
    color:rgb(150, 150, 150);
    font-weight: 200;
    margin-top: 18px;
}
.links {
    margin-left: 50px;
    margin-top: 30px;
}

.links button{
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 7px;
    width: 330px;
    height: 50px;
    margin-bottom: 16px;
    cursor: pointer;
}

button:hover{
    color: #333;
    background-color: #fff;

}

